<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/gallery.css">
    <link rel="stylesheet" href="../node_modules/simplelightbox/dist/simple-lightbox.min.css" />
    <title>01-Gallery</title>
</head>
<body>
    <a href="/src/02-form.html">Go to form</a> <br>
    <a href="/index.html">Go to menu</a>
    <ul class="gallery">
        <!-- Gallery items go here -->
    </ul>
    <script type="module" src="../src/js/01-gallery.js"></script>
    <script src="../node_modules/simplelightbox/dist/simple-lightbox.min.js"></script>
</body>
</html>